.main{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: rgb(190, 190, 190);
    height: 600px;
    width: 350px;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 10px 10px 10px black;
}



.buttons-area{
    display: flex;
    border-radius: 20px;
    padding: 1vw;
    flex-direction: column;
    justify-content: end;
}

.numbers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

button{
    height: 70px;
    border-radius: 5px;
    border: 1px solid;
}

button:hover {
    background-color: #c9c8c8;
  }

.all-clear {
    background-color: #f0595f;
    border-color: black;
    color: #fff;
  }

.all-clear:hover {
    background-color: #f17377;
  }
  


.equal-sign:hover {
    background-color: #4e9ed4;
  }

.equal-sign{
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 4;
    height: 100%;
    background-color: #2e86c0;
    border-color: black;
    color: #fff;
}

.screen {
    flex:  auto;
    background-color: black;
    border-radius: 20px;
    color: white;
    padding: 10px;
    position: relative;
}

.result{
    font-size: 1.5rem;
    position: absolute;
    right: 5px;
    top: 20px;
    margin: 10px;
}

.pre-result{
    font-size: 2.5em;
    bottom: 5px;
    right: 5px;
    margin: 10px;
    position: absolute;
}